{{#each this}}
<li class="list-item">
    <div class='photo-card'>
        <img src={{webformatURL}} alt={{id}} class='card-image' data-source={{largeImageURL}} />
     
        <div class='stats'>
            <p class='stats-item'>
                <i class='material-icons'>thumb_up</i>
                <p class="tips">{{likes}}</p>
            </p>
            <p class='stats-item'>
                <i class='material-icons'>visibility</i>
                <p class="tips">{{views}}</p>
                
            </p>
            <p class='stats-item'>
                <i class='material-icons'>comment</i>
                <p class="tips">{{comments}}</p>
                
            </p>
            <p class='stats-item'>
                <i class='material-icons'>cloud_download</i>
                <p class="tips">{{downloads}}</p>
                
            </p>
        </div>
    </div>
            
   
</li>
{{/each}}